.main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  padding: 2rem;
  padding-top: 20vh; /* InfoNav(fixed) 높이만큼 상단 패딩 추가 */
} 