.container {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: calc(100vh - 100px);
  margin-top: 8vw;
  position: relative;
}

.header {
  margin-bottom: 30px;
}

.content {
  width: 100%;
  margin-top: 10px;
}

.buttonWrapper {
  padding: 1rem 2rem;
  margin: 0;
  display: flex;
  justify-content: center;
}